/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
@font-face {
  font-family: 'Montserrat';
  src: url("/static/fonts/montserrat.woff2") format("woff2"), url("/static/fonts/montserrat.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: 'Poppins';
  src: url("/static/fonts/poppins.woff2") format("woff2"), url("/static/fonts/poppins.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

:root {
  --ifm-color-primary: #D83D3D;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-color-gray-900: #171732;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #F2F2FE !important;
  --ifm-background-surface-color: #FFFFFF !important;
  --ifm-font-family-base: "Poppins", "Apple Color Emoji", "sans-serif";
  --ifm-heading-font-family: "Montserrat", "Poppins", "Apple Color Emoji", "sans-serif";
  --ifm-background-button-color: #fff;
  --ifm-shadow-button: #DDD;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
@media (prefers-color-scheme: dark) {
  :root {
    --ifm-color-primary: #DB5D5D;
    --ifm-color-primary-dark: #21af90;
    --ifm-color-primary-darker: #1fa588;
    --ifm-color-primary-darkest: #1a8870;
    --ifm-color-primary-light: #29d5b0;
    --ifm-color-primary-lighter: #32d8b4;
    --ifm-color-primary-lightest: #4fddbf;
    --ifm-background-color: #292948 !important;
    --ifm-background-surface-color: #171732 !important;
    --ifm-color-scheme: dark;
    --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
    --ifm-color-emphasis-100: var(--ifm-color-gray-900);
    --ifm-color-emphasis-200: var(--ifm-color-gray-800);
    --ifm-color-emphasis-300: var(--ifm-color-gray-700);
    --ifm-color-emphasis-400: var(--ifm-color-gray-600);
    --ifm-color-emphasis-500: var(--ifm-color-gray-500);
    --ifm-color-emphasis-600: var(--ifm-color-gray-400);
    --ifm-color-emphasis-700: var(--ifm-color-gray-300);
    --ifm-color-emphasis-800: var(--ifm-color-gray-200);
    --ifm-color-emphasis-900: var(--ifm-color-gray-100);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
    --ifm-background-color: #18191a;
    --ifm-background-surface-color: #242526;
    --ifm-hover-overlay: rgba(255, 255, 255, 0.05);
    --ifm-color-content-secondary: rgba(255, 255, 255, 1);
    --ifm-breadcrumb-separator-filter: invert(64%) sepia(11%) saturate(0%) hue-rotate(149deg) brightness(99%) contrast(95%);
    --ifm-code-background: rgb(51, 52, 55);
    --ifm-scrollbar-track-background-color: #444444;
    --ifm-scrollbar-thumb-background-color: #686868;
    --ifm-scrollbar-thumb-hover-background-color: #7a7a7a;
    --ifm-color-primary-contrast-background: rgb(16, 36, 69);
    --ifm-color-primary-contrast-foreground: rgb(235, 242, 252);
    --ifm-color-secondary-contrast-background: rgb(71, 71, 72);
    --ifm-color-secondary-contrast-foreground: rgb(253, 253, 254);
    --ifm-color-success-contrast-background: rgb(0, 49, 0);
    --ifm-color-success-contrast-foreground: rgb(230, 246, 230);
    --ifm-color-info-contrast-background: rgb(25, 60, 71);
    --ifm-color-info-contrast-foreground: rgb(238, 249, 253);
    --ifm-color-warning-contrast-background: rgb(77, 56, 0);
    --ifm-color-warning-contrast-foreground: rgb(255, 248, 230);
    --ifm-color-danger-contrast-background: rgb(75, 17, 19);
    --ifm-color-danger-contrast-foreground: rgb(255, 235, 236);
    --ifm-background-button-color: #1F1F41;
    --ifm-shadow-button: #19193E;
  }

  .breadcrumbsItemLink_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocBreadcrumbs-styles-module {
    background: #1F1F41 !important;
  }
}

footer, .toggle_node_modules-\@docusaurus-theme-classic-lib-next-theme-ColorModeToggle-styles-module, .iconExternalLink_node_modules-\@docusaurus-theme-classic-lib-next-theme-IconExternalLink-styles-module, .toggleButton_rCf9 {
  display: none !important;
}

.navbar__items--right a {
  color: var(--ifm-font-color-base);
  font-size: 15px;
}

.navbar--fixed-top {
  border-radius: 0 0 10px 10px;
}

.pagination-nav__link {
  background: var(--ifm-background-button-color);
  box-shadow: 4px 4px 0px var(--ifm-shadow-button);
  border-radius: 14px;
  border: 0;
  transition: .1s;
  width: min-content;
}

.pagination-nav__link:hover, .pagination-nav__link:active {
  box-shadow: none;
  transform: translate(4px, 4px)
}

.pagination-nav {
  justify-content: space-between;
}

.pagination-nav__item {
  max-width: 200px;
  min-width: 160px;
}

img {
  border-radius: 10px;
}

.theme-doc-markdown img {
  box-shadow: 10px 10px 0px #DDD, 10px 10px 0px 3px #FFF, 3px 3px 15px 3px #CCC;
  border: 3px solid #FFF;
  margin-top: 20px;
  max-width: 800px;
  transition: .2s !important;
  margin-left: -13px;
}

.theme-doc-markdown img:hover {
  transform: translate(13px, 13px);
  box-shadow: 0px 0px 0px #DDD, 0px 0px 0px 3px #FFF, 3px 3px 15px 3px #EEE;
}
